/* Add some global styles here! */

:root {
  --red: rgb(223, 88, 88);
  --base-bg: #5594fb;
  --pinkred: #f76c6ce4;
  --gray: rgb(94, 92, 92);
}

button.btn-small {
  font-size: 80%;
  color: rgb(93, 103, 91);
  background-color: rgb(251, 225, 202);
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.shimmer-text {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(90deg, #dd7d7d, #ebaeae, var(--pinkred));
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}

@font-face {
  font-family: 'mandali';
  src: url('./Mandali-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'slab';
  src: url('./PaytoneOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'crimson';
  src: url('./CrimsonText-Regular.ttf') format('truetype');
}

